<h1>index relationship for test</h1>


<table class="table table-hover">
  <tbody>
    <tr>
      <th>item picture</th>
      <th>item name</th>
      <th>type</th>
      <th>user_id</th>
      <th>user name</th>
      <th>item_id</th>
      <th>delete</th>

    </tr>
    <% @ownerships.each do |ownership| %>
        <tr>
          <td><%= image_tag(ownership.item.small_image , alt: ownership.item.title) %></td>
          <td><%= ownership.item.title %></td>
          <td><%= ownership.type %></td>
          <td><%= ownership.user_id %></td>
          <td><%= ownership.user.name %></td>
          <td><%= ownership.item_id %></td>
          <td><%= link_to "delete" , ownership_path(ownership) ,:class => "btn btn-danger btn-sm",:method => :delete %></td>

          <td></td>
 
          <td></td>
        </tr>
    <% end %>
  </tbody>
</table>